<!-- 侧边栏 -->
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{$user.avatar}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{$user.username}</p>
                <a href="#"><i class="fa fa-circle text-success"></i>{$user.group}</a>
            </div>
        </div>
        <!-- search form
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>-->
        <!-- /.search form -->

        <!-- sidebar menu -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>网站管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:U('Index/config')}"><i class="fa fa-circle-o"></i>网站设置</a></li>
                    <li><a href="{:U('Role/index')}"><i class="fa fa-circle-o"></i>管理用户组</a></li>
                    <li><a href="{:U('User/index')}"><i class="fa fa-circle-o"></i>管理用户</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>查看日志</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>数据备份</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>会员管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i>管理会员组</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>管理会员</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>分配vip会员</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pencil"></i> <span>产品管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i>银邦产品</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>计算器利率</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>贷款产品</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-check-square"></i> <span>在线评估</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i>管理评估</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>管理反馈</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa fa-book"></i> <span>贷后管理</span></a></li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-check-square"></i> <span>内容管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i>公司简介</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>新闻动态</a></li>
                </ul>
            </li>

        </ul>
    </section>
</aside> <!-- aside侧边栏 end -->