/*!
 * 项目css
!*/

/* form */
.btn-wrap-center {
    text-align: center;
}
.btn-wrap-center * {
    margin-left: 20px;
}
.form-horizontal .tips {
    padding-top: 7px;
}

/* bootstrap page */
.page-info a{color: #CCC;}
.page-info a em{font-style: normal;margin: 0 2px;}